@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4; /* Light grey Swiss style background */
  --foreground: #111111; /* Sharp black text */
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; /* Clean sans-serif */
}

/* This creates the architectural grid lines */
.grid-bg {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  min-height: 100vh;
}